<%- include('../partials/head') %>
    <%- include('../partials/navbarmain') %>

        <style>
            .nice-scroll {
                overflow-x: scroll;
            }
        </style>


        <!-- <div class="colorlib-loader"></div> -->

        <div id="page ">


            <%if(orders.length>0){%>
                <div class="container">
                    <div class="mt-5 ">
                        <h4>Orders List</h4>
                    </div>
                </div>
                <section style="min-height:70vh " class="mt-5 mb-5 ">
                    <div class="container nice-scroll ">
                        <div class="row">
                            <div class="col">
                                <table class="table table-striped" id="user-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Order ID & Date</th>

                                            <th scope="col">User</th>

                                            <th scope="col">Total</th>
                                            <th scope="col">Payment</th>

                                            <th scope="col">Details</th>
                                            <th scope="col">Action / Status</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orders.forEach((x)=> { %>
                                            <tr>

                                                <td scope="row">
                                                    <div>Time : <%=x.time %>
                                                    </div>
                                                    <div>Date : <%=x.date %>
                                                    </div>
                                                    <div>Order ID :<%=x._id %>
                                                    </div>
                                                </td>

                                                <td>

                                                    <div>Address : <%=x.deliveryDetails.address %>
                                                    </div>
                                                    <div>PIN : <%=x.deliveryDetails.pincode %>
                                                    </div>
                                                    <div>Mobile : <%=x.deliveryDetails.mobile %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>RS.<%=x.totalAmount %>
                                                    </div>
                                                    <%if(x.discount >0 ){%>
                                                        <div>Discount : RS.<%=x.discount %>
                                                        </div>
                                                        <%}%>
                                                </td>

                                                <td>
                                                    <div>Method : <%=x.paymentMethod %>
                                                    </div>
                                                    <div>
                                                        <%if(x.paymentStatus != "pending"){%>
                                                        Payment Status : <%=x.paymentStatus %>
                                                        <%}else{%>
                                                        <h5 class="text-warning"><strong>Payment is pending</strong></h5><br>
                                                        <%}%>
                                                    </div>
                                                </td>

                                                <td class="align-middle"><a href="/view-order-products/<%=x._id %>"
                                                        class="btn btn-primary">View</a></td>
                                                <!-- ------------------------- -->
                                                
                                                <td class="align-middle ">
                                                    <%if(x.paymentStatus!="pending"){%>
                                                    <%if(x.status=="placed"){%>
                                                        <a class="btn btn-danger delete-button"
                                                        href="/cancelOrder/<%=x._id %>/?refund=<%=x.totalAmount %>"><img style="width: 30px;height: auto;" src="https://cdn-icons-png.flaticon.com/512/1828/1828851.png" alt=""></a>
                                                        <%}else if(x.status=="Shipped" ){%>
                                                            <h5 class="text-success">Order Shipped</h5>
                                                            <%}else if(x.status=="Delivered" ){%>
                                                                <a class="btn" href="">Write A Review</a>
                                                                <%}else if(x.status=="Cancelled" ){%>
                                                                    <h5 class="text-danger">Order Cancelled</h5>
                                                                    <%}%>
                                                                    <%}else{%> 
<div class="d-flex">
    <button  class="btn btn-success" onclick="paynow('<%=x.totalAmount %>','<%=x._id %>')">Pay Now</button> 
                                                                    <a class="btn btn-danger delete-button"
                                                            href="/cancelOrder/<%=x._id %>/?refund=<%=x.totalAmount %>"><img style="width: 30px;height: auto;" src="https://cdn-icons-png.flaticon.com/512/1828/1828851.png" alt=""></a>
</div>
                                                                        <%}%>
                                                </td>
                                                <!-- ------------------------- -->


                                            </tr>
                                            <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <%}else{%>
                    <style>
                        @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

                        body {
                            background-color: #eee;
                            font-family: 'Calibri', sans-serif !important;
                        }

                        .mt-100 {
                            margin-top: 100px;

                        }


                        .card {
                            margin-bottom: 30px;
                            border: 0;
                            -webkit-transition: all .3s ease;
                            transition: all .3s ease;
                            letter-spacing: .5px;
                            border-radius: 8px;
                            -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
                            box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
                        }

                        .card .card-header {
                            background-color: #fff;
                            border-bottom: none;
                            padding: 24px;
                            border-bottom: 1px solid #f6f7fb;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                        }

                        .card-header:first-child {
                            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
                        }



                        .card .card-body {
                            padding: 30px;
                            background-color: transparent;
                        }

                        .btn-primary,
                        .btn-primary.disabled,
                        .btn-primary:disabled {
                            background-color: #4466f2 !important;
                            border-color: #4466f2 !important;
                        }
                    </style>
                    <div style="height: 80vh;" class="container-fluid   mt-100">
                        <div class="row">

                            <div class="col-md-12">

                                <div style="width: 50%;margin: auto;" class="card ">

                                    <div class="card-body cart">
                                        <div class="col-sm-12 empty-cart-cls text-center">
                                            <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                                class="img-fluid mb-4 mr-3">
                                            <h3><strong>Your Orders is Empty</strong></h3>
                                            <h4>Add something to make me happy :)</h4>
                                            <a href="/shop" class="btn btn-primary cart-btn-transform m-3"
                                                data-abc="true">continue shopping</a>


                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                    <%}%>

                        <!-- Footer Section Begin -->
                        <%- include('../partials/userfooter') %>
                            <!-- Footer Section End -->
                            <!--Sweet Alert CDN-->
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            <script>
                                // delete popup
                                $('.delete-button').on('click', function (e) {
                                    e.preventDefault();
                                    var self = $(this);
                                    console.log(self.data('title'));
                                    Swal.fire({
                                        title: 'Are you sure?',
                                        text: "You won't be able to revert this!",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Yes, Cancel it!'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            Swal.fire(
                                                'Cancelled!',
                                                'Your file has been Cancelled.',
                                                'success'
                                            ).then(() => { location.href = self.attr('href'); })

                                        }
                                    })

                                })

                            </script>
                            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                            <script>
                               function paynow(total,orderId){
                                    $.ajax({
                                        url: '/paynow',
                                        method: 'post',
                                        data:{
total:total,
orderId:orderId
                                        },
                                        
                                        success: (Response) => {
                                            if (!Response.stockout) {
                                                if (Response.codSuccess) {
                                                    location.href = '/order-compleated'
                                                } else {
                                                    razorpayPayment(Response)
                                                }
                                            } else {
                                                Swal.fire(
                                                    'Out of stock..!',
                                                    'Your cart has a stockout product',
                                                    'error'
                                                )
                                            }
                                        }
                    
                                    })
                                }
                                function razorpayPayment(order) {
                                    var options = {
                                        "key": "rzp_test_DLe9uyAPiBCjNy", // Enter the Key ID generated from the Dashboard
                                        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                        "currency": "INR",
                                        "name": "GetLaps",
                                        "description": "Test Transaction",
                                        "image": "https://example.com/your_logo",
                                        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                        "handler": function (response) {
                                            // alert(response.razorpay_payment_id);
                                            // alert(response.razorpay_order_id);
                                            // alert(response.razorpay_signature)
                                            
                                            verifyPeyment(response, order)
                                        },
                                        "prefill": {
                                            "name": "Gaurav Kumar",
                                            "email": "gaurav.kumar@example.com",
                                            "contact": "9999999999"
                                        },
                                        "notes": {
                                            "address": "Razorpay Corporate Office"
                                        },
                                        "theme": {
                                            "color": "#3399cc"
                                        }
                                    };
                                    var rzp1 = new Razorpay(options)
                                    rzp1.open()
                                }
                                function verifyPeyment(payment, order) {
                                    
                                    $.ajax({
                                        url: '/verify-payment',
                                        data: {
                                            payment,
                                            order
                                        },
                                        method: 'post',
                                        success: (response) => {
                                            if (response.status) {
                                                location.href = '/order-compleated'
                                            } else {
                                                alert(response.msg)
                                            }
                                        }
                                    })
                                }
                            </script>
                            <%- include('../partials/foot') %>