<%- include('../partials/head') %>
    <%- include('../partials/navbarmain') %>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <!-- <link rel="stylesheet" href="/client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/slicknav.min.css" type="text/css"> -->
        <link rel="stylesheet" href="/client/css/style.css" type="text/css">
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" />

        <!-- xzoom plugin here -->
        <script src="/zoom/js/vendor/jquery.js"></script>
        <script type="text/javascript" src="/zoom/xzoom.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/zoom/xzoom.css" media="all" />
        <!-- hammer plugin here -->


        <!-- <link rel="stylesheet" href="/zoom/css/normalize.css" /> -->
        <!-- <link rel="stylesheet" href="/zoom/css/foundation.css" /> -->
        <!-- <link rel="stylesheet" href="/zoom/css/demo.css" /> -->
        <!-- <script src="/zoom/js/vendor/modernizr.js"></script> -->

        <!-- <script type="text/javascript" src="/zoom/hammer.js/1.0.5/jquery.hammer.min.js"></script>   -->
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!-- <link type="text/css" rel="stylesheet" media="all" href="/zoom/fancybox/source/jquery.fancybox.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/zoom/magnific-popup/css/magnific-popup.css" /> -->
        <!-- <script type="text/javascript" src="/zoom/fancybox/source/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/zoom/magnific-popup/js/magnific-popup.js"></script>   -->







        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__links">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                            <a href="/shop">Shop</a>
                            <span>
                                <%=product.title%>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Product Details Section Begin -->
        <section class="product-details spad">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <!-- default start -->
                        <section id="default" class="padding-top0">
                            <div class="row">
                                <div class="large-12 column"></div>
                                <div class="large-5 column">
                                    <div class="xzoom-container">
                                        <img class="xzoom" id="xzoom-default"
                                            src="/uploads/<%=product.image[0].image1%>"
                                            xoriginal="/uploads/<%=product.image[0].image1%>" />
                                        <div class="xzoom-thumbs mt-5">
                                            <a href="/uploads/<%=product.image[0].image1%>"><img class="xzoom-gallery"
                                                    width="80" src="/uploads/<%=product.image[0].image1%>"
                                                    xpreview="/uploads/<%=product.image[0].image1%>"></a>
                                            <a href="/uploads/<%=product.image[1].image2%>"><img class="xzoom-gallery"
                                                    width="80" src="/uploads/<%=product.image[1].image2%>"></a>
                                            <a href="/uploads/<%=product.image[2].image3%>"><img class="xzoom-gallery"
                                                    width="80" src="/uploads/<%=product.image[2].image3%>"></a>
                                            <a href="/uploads/<%=product.image[3].image4%>"><img class="xzoom-gallery"
                                                    width="80" src="/uploads/<%=product.image[3].image4%>"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-7 column"></div>
                            </div>
                        </section>
                        <!-- default end -->

                    </div>

                    <div class="col-lg-6">
                        <div class="product__details__text">

                            <h3>
                                <%=product.title%> <span>Brand: <strong>
                                            <%=product.brand%>
                                        </strong><br>
                                        <%=product.category%>
                                    </span>
                            </h3>

                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span>( 138 reviews )</span>
                            </div>
                            <div class="product__details__price">RS.<%=product.price%> <span>RS.<%=product.mrp%> </span>
                            </div>
                            <p>
                                <%=product.description%>
                            </p>
                            <div class="product__details__button">
                                <!-- <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div> -->
                                <button onclick="addToWishlist('<%=product._id%>')" class="btn btn-danger me-4">Add to
                                    wishlist</button>
                                <button href="#" onclick="addToCart('<%=product._id%>')"
                                    class="btn btn-success mt-1"><span class="icon_bag_alt"></span> Add to cart</button>
                                <ul>
                                    <li></li>

                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>
                                    <%=product.description%>
                                </p>

                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                                <p>
                                    <li>Processor : <%=product.specs[0]%>
                                    </li>
                                </p>
                                <p>
                                    <li>RAM : <%=product.specs[1]%>
                                    </li>
                                </p>
                                <p>
                                    <li>Storage : <%=product.specs[2]%>
                                    </li>
                                </p>
                                <p>
                                    <li>Operating System : <%=product.specs[3]%>
                                    </li>
                                </p>
                                <p>
                                    <li>Colour : <%=product.specs[4]%>
                                    </li>
                                </p>
                                <p>
                                    <li>Size : <%=product.specs[5]%>
                                    </li>
                                </p>

                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 2 )</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                    consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                    quis, sem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </section>
        <!-- Product Details Section End -->


        <!-- Footer Section Begin -->
        <%- include('../partials/userfooter') %>
            <!-- Footer Section End -->

            <!--Sweet Alert CDN-->
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                function addToCart(proId) {
                    $.ajax({
                        url: "/add-tocart/" + proId,
                        methode: "get",
                        success: (Response) => {
                            if (Response.gust) {
                                Swal.fire(
                                    'Oops!',
                                    'You Need To Login',
                                    'error'
                                )
                            } else {
                                if (Response.newProduct) {
                                    Swal.fire({
                                        position: 'top-center',
                                        icon: 'success',
                                        title: 'Product Added To Cart',
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                    //location.reload()
                                    let count = $('#cart-count').html()
                                    count = parseInt(count) + 1
                                    $("#cart-count").html(parseInt(count))
                                } else if (Response.oldProduct) {
                                    Swal.fire({
                                        position: 'top-center',
                                        icon: 'success',
                                        title: 'Product Added To Cart',
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                }
                            }

                        }
                    })
                }
                function addToWishlist(proId) {
                    $.ajax({
                        url: "/addToWishlist/" + proId,
                        methode: "get",
                        success: (Response) => {
                            if (Response.gust) {
                                Swal.fire(
                                    'Oops!',
                                    'You Need To Login',
                                    'error'
                                )
                            } else {
                                if (Response.newProduct) {
                                    Swal.fire({
                                        position: 'top-center',
                                        icon: 'success',
                                        title: 'Product Added To Wishlist',
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                    //location.reload()
                                    let count = $('#wishlist-count').html()
                                    count = parseInt(count) + 1
                                    $("#wishlist-count").html(parseInt(count))

                                } else if (Response.oldProduct) {
                                    Swal.fire({
                                        position: 'top-center',
                                        icon: 'success',
                                        title: 'Product Removed From wishlist',
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                    let count = $('#wishlist-count').html()
                                    count = parseInt(count) - 1
                                    $("#wishlist-count").html(parseInt(count))

                                }
                            }

                        }
                    })
                }

            </script>

            <!-- -----------zoom---------- -->
            <!-- <script src="/zoom/js/foundation.min.js"></script> -->
            <script src="/zoom/js/setup.js"></script>
            <!-- -----------zoom---------- -->
            <!-- Js Plugins -->
            <!-- <script src="/client/js/jquery-3.3.1.min.js"></script> -->
            <script src="/client/js/bootstrap.min.js"></script>
            <!-- <script src="/client/js/jquery.magnific-popup.min.js"></script>
            <script src="/client/js/jquery-ui.min.js"></script>
            <script src="/client/js/mixitup.min.js"></script>
            <script src="/client/js/jquery.countdown.min.js"></script>
            <script src="/client/js/jquery.slicknav.js"></script>
            <script src="/client/js/owl.carousel.min.js"></script>
            <script src="/client/js/jquery.nicescroll.min.js"></script> -->
            <script src="/client/js/main.js"></script>
            <!-- MDB -->
            <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>


            </body>

            </html>